.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: calc((880/1280) * 100%);
    margin: 0 auto;
    padding-top: 45px;
    box-sizing: border-box;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(84,84,84,0.7);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #fff;
}

@media (max-width: 950px) {
    .header {
        max-width: 100%;
        padding-top: 28px;
    }
}  
