.popup__submit {
    min-width: 100%;
    min-height: 50px;
    background-color: #000000;
    color: #fff;
    align-self: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    margin-top: 48px;
    margin-bottom: 37px;
    cursor: pointer;
    box-sizing: border-box;
}

.popup__save-button:hover {
    transition: opacity 1s ease;
    opacity: 0.8;
}

@media (max-width: 550px) {
    .popup__save-button {
        font-size: 14px;
        line-height: 17px;
        margin-top: 45px;
        margin-bottom: 25px;
    }
}